body {
    margin: 10px 0px;
    padding: 10px 0px;
}

.images {
    display: flex;
    justify-content: center;

}

.images img {
    width: 90%;
    height: 95vh;
    background-position: center;
    background-size: cover;
}
h1 {
    margin-left: 25px;
}